.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 5rem;
    font-weight: bold;
    line-height: 6rem;
    height: 6rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 6rem;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-info {
    font-size: 1rem;
}

.game-board {
    background-color: #C9ADA7;
    border-radius: 1rem;
}

.btn-steps {
    background-color: transparent;
    border-color: #22223B;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-align: center;
}

.tic-tac-toe-btn, .tic-tac-toe-btn.disabled, .tic-tac-toe-btn:active {
    font-weight: 700;   
    border-width: 2px;
    border-color: #22223B;
    color: #22223B;
}

.active-square {
    -webkit-box-shadow: inset 0 0 20px #22223B, 0 0 10px rgba(34,34,59,0.69);
    -moz-box-shadow: inset 0 0 20px #22223B, 0 0 10px rgba(34,34,59,0.69);
    box-shadow: inset 0 0 20px #22223B, 0 0 10px rgba(34,34,59,0.69);
}